<div class="jumbotron">
	<h1 class="display-4">Awesome Bookstore</h1>
	<p class="lead">This is a simple Bookstore, a simple store for getting the books I like to read.</p>
	<hr class="my-4">
	<p>You can view all the books, add new ones, edit or delete existing ones. All the books have title,
		author, genre, description, number of pages, publisher, and images.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</p>
</div>

<div ng-init="getBooks()">
	<div>
		<h3 class="panel-title">Latest Books</h3>
	</div>
	
			<div ng-repeat="book in books">
				
				<div class="col my-4 mx-0">

					<div class="row">

							<div class="col-lg-3">
								<img src="{{ book.image }}">
							</div>
							<div class="col-lg-8">
								<h4>
								{{ book.title }}
								</h4>
								<p><i> {{ book.author }} </i></p>
								<p> {{ book.description }}</p>
								<a href="#!/books/details/{{ book._id }}" class="btn btn-primary">View Details</a>
							</div>

					</div>
					

				</div>
			</div>


</div>